:root {
  --c01: #6444ab;
  --c02: #0d1329;
  --c03: #53595a;
  --c04: #eff3f6;
  --c05: #fefefe;
  --c06: #c6c9ca;
  --c07: #046715;
  --c08: #9d2315;
  --c09: #25272c6b;
  --c10: #42218a;
  --c11: #b39ae7;
  --c12: #0d1329a1;
}
