@import url("./linker.css");
@import url("./font.css");
@import url("./colors.css");
@import url("./text.css");

.bs {
  padding: 3rem;
}

main {
  font-family: "poppins-m", "Segoe UI", "Tahoma", "Geneva", "Verdana",
    "sans-serif";
  background-color: var(--c04);
  color: var(--c02);
  border-radius: 1rem;
}

.section-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  border-radius: 1rem;
}

section {
  background-color: var(--c05);
}

li {
  display: block;
  color: var(--c12);
}

.profile-img {
  background-image: url("/image/low-res.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
  height: 15rem;
  width: 15rem;
}
